h1 {
	color:#A544FF;
	font-family: Consolas, monaco, monospace;
	font-size: 6rem;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.3999996185303px;
	text-align: center;
}

img {
	width:300px;
	height:300px;
}

table, td {
	border: 1px #70b8ff dashed;
}

table, th {
	font-family: Satisfy, cursive;
	font-weight:normal;
	font-size:64px;
	padding-top: 6px;
}